{% extends 'MiAppBundle::Default/index.html.twig' %}

{% block editor %}
    <h1 style="text-align:center">Cargar Nuevo Gol
            <button class="btn btn-default  pull-left ">
                <a href="{{ path('goles_index') }}" toggle="tooltip" title="Volver">
                    <span class="glyphicon glyphicon-chevron-left" style="color:#00695c"></span>
                </a>
            </button>
    </h1>

    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Crear Equipo" toggle="tooltip" title="Guardar nuevo gol">
        {{ form_end(form) }}
    </div>

    
{% endblock %}
