body {
    padding-top: 60px;
    color: #6897BB;
	background-image:url('../img/f12.jpg');
}

.navbar-inverse .navbar-brand {
    color: #9acfea;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

